body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(242,242,242);
    /*background: linear-gradient(135deg, rgba(242,242,242,1) 89%, rgba(179,88,199,1) 100%);*/
    color: #333;
    transition: all 0.5s ease;
  }
  
.header {
  position: absolute;
  top: 15px;
  right: 15px; /* Adjust the right property to move the button to the top-right */
  width: 100px;
  margin-bottom: 20px; /* Add some margin at the bottom */
}

h1 {
  transition: all 0.5s ease;
}

.mode {
  width: 20px;
  height: 20px;
}

.elements {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side {
  border: #333;
  border-width: 4px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  transition: border 0.5s ease;
}

.clickable {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.colorpickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.colorText {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  transition: all 0.5s ease;
}

.colorpicker {
  height: 80px;
  width: 80px;
  border: none;
  padding: 0;
  transition: all 0.5s ease;
}

.colorpicker::-webkit-color-swatch {
  border: none;
  border-color: #333;
  border-style: solid;
}

.colorpicker::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

.colorpicker:hover {
  transition: transform 0.10s;
  transform: scale(1.05);
}

.colorpicker:active {
  transition: transform 0.10s ease-in-out;
  transform: scale(0.9);
}

.checkbox {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #565757;
  transition: background-color 0.3s ease;
  width: 70%;
}

.checkbox:hover {
  transition: transform 0.10s;
  transform: scale(1.05);
  color: #333;
  background-color: #c4ccd1;
}

.checkbox:active {
  transition: transform 0.03s ease-in-out;
  transform: scale(1);
}

.toggle {
  background-color: #c4ccd1;
  color: #333;
}

.checkbox input {
  display: none;
}

button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #565757;
  transition: background-color 0.3s ease;
  width: 80%;
}

.header button {
  padding: 5px;
  color: #565757;
  background-color: #ffffff;
  border-style: solid;
  border-color: #333;
  border-width: 1px;
}

button:hover {
  transition: transform 0.10s;
  transform: scale(1.05);
  color: #333;
  background-color: #c4ccd1;
}

button:active {
  transition: transform 0.03s ease-in-out;
  transform: scale(1);
}

.functions {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  width: 80%;
}

.slider {
  width: 80%;
  height: 15px;
  opacity: 0.75;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  
}

.sliderText {
  transition: color 0.5s ease;
  
}

.gridSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gridText {
  font-size: 24px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.gridProperties {
  background-color: #ffffff;
  border: #333;
  border-width: 0px;
  border-style: solid;
  transition: background-Color .03s;
}

.gridProperties:hover {
  background-color: #a3a3a3 !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
}
